body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

.header {
    flex: 0 0 auto;
    font-size: 48px;
    padding: 32px;
    background-color: #404040;
    color: white;
}

.middle {
    display: flex;
    flex: 1 1 0;
}

.sidebar {
    width: 250px;
    background-color: darkgray;
}

.main {
    background-color: whitesmoke;
    flex: 1;
    padding: 32px;

}

.todo {
    display: flex;
}

.todos>div:hover, .add:hover {
    background-color: gainsboro;
}
.delete {
    border: none;
    background-color: inherit;
    font-weight: 900;
}

.high {
    border-left: 5px solid red;
}
.medium {
    border-left: 5px solid yellow;
}
.low {
    border-left: 5px solid green;
}